<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'На головну', root_path %>
<%= link_to 'Реєстрація', registration_path %>
<%= link_to 'Вхід', sessions_login_path %>
<%= link_to 'Вихід', sessions_logout_path %>
<% if current_user %>
<%= link_to current_user.name, userallposts_path %>
<% end %>
<%= yield %>

</body>
</html>
